.detail{
  text-align: center;
  background-color: #818FB4;
}
 
  .detail > .row {
    display: flex;
    justify-content: center;
    
  }
  
  .detail > .row > .col {
    margin: 10px; /* Adjust the margin to your liking */
  }
  .detail h1{
    color: #435585;
  }
  .detail p{
    color:white;
  }
  .btn{
    background-color: #3E001F;
    color:#F5E8C7;
    border: none;
  }
 .btn:hover{
    background-color: #3E001F;
    color:#F5E8C7;
    background-color: #F5E8C7;
    color: #3E001F;
 }